* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.6;
}
h1 {
  text-align: center;
  margin-bottom: 60px;
}

.accordion {
  width: 800px;
  margin: 0 auto;
}

.accordion .content h2 {
  padding: 10px 0;
  cursor: pointer;
  position: relative;
  /* background-color: red; */
}
.accordion .content {
  border-bottom: 1px solid #ccc;
}
.accordion .content h2::after {
  font-family: 'xeicon';
  content: '\e913';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%);
  font-size: 16px;
}
.accordion .content .text {
  height: 0;
  overflow: hidden;
  /* 영역을 벗어나면 안보이게 */
  transition: all 0.3s;
}
.accordion .content.active .text {
  height: auto;
  padding: 20px 0;
  overflow: hidden;
}
.accordion .content.active h2::after {
  font-family: 'xeicon';
  content: '\e91a';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%);
  font-size: 16px;
}
/* "\e91a" */
/* 유니코드 */
